$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

.l-container-currency {
	display: grid;
	margin: 0 15px;
}

.c-back-button {
	position: fixed;
	top: 12px;
	right: 12px;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.c-back-button:hover {
  background-color: #2980b9;
}

.c-info-range {
  position: relative;
  width: 200px;
	margin-bottom: 15px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; 
  background-color: #fff;
  cursor: pointer;
}


select:focus,
select:hover {
  outline: none;
  border-color: #3498db; 
}

@media only screen and (max-width: #{$breakpoint-tablet}) {

}

@media only screen and (max-width: #{$breakpoint-mobile}) {

	}
