$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

.l-container {
	display: grid;
	width: 768px;
	margin: 0 auto;
}

.c-info {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: minmax(max-content, 300px) 1fr;
	margin-bottom: 20px;

	& .c-image {
    margin: 0;
    padding-right: 15px;
	}
	& .c-summary > * {
		margin: 0;
	}
}

.c-table {
	border: 1px solid #f1f1f1;
}

.c-table__row {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 120px 1fr 120px;
	background-color: #fefefe;

	& .c-table__cell {
		padding: 8px 10px;
		& > a {
			line-height: inherit;
			color: #3C948B;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.header {
		background-color: #f8f8f8;
		& .c-table__cell {
			font-weight: bold;
		}
	}

	&:hover {
		background-color: #f1f1f1;
	}
}

@media only screen and (max-width: #{$breakpoint-tablet}) {
	.l-container {
		width: 90%;
	}

	.c-info {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: minmax(max-content, 300px) 1fr;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: #{$breakpoint-mobile}) {
	.l-container {
		width: 90%;
	}

	.c-info {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	
		& .c-image {
			margin: 0;
			padding: 0 0 15px;
		}
	}
}